In [1]:
import pandas as pd
import os

os.chdir("C:/Users/Hegemon/Desktop/DSA 210 Project/Finalized Data")

In [2]:
fire_countDF  = pd.read_excel("1990 - 2023 Avrupa Yangın Alanı ve Miktarı.xlsx", header= 0, sheet_name=0).iloc[10:].reset_index(drop=True) # This deletion is related to the excel file I have last column was extra
fire_areaDF  = pd.read_excel("1990 - 2023 Avrupa Yangın Alanı ve Miktarı.xlsx", header= 0, sheet_name=1).iloc[10:].reset_index(drop=True) # The unit of this data is hectares
total_yearly_forest_area = pd.read_csv("Total Forest Area.csv").iloc[:-6,2:] #The unit of this data is kmsq

In [3]:
total_yearly_forest_area = total_yearly_forest_area.drop(columns=["Time Code"])
total_yearly_forest_area = total_yearly_forest_area.rename(columns={"Time":"year","Algeria [DZA]":"Algeria", "Cyprus [CYP]":"Cyprus", "France [FRA]":"France", "Greece [GRC]":"Greece","Italy [ITA]":"Italy" , "Lebanon [LBN]":"Lebanon", "Portugal [PRT]":"Portugal", "Spain [ESP]":"Spain", "Turkiye [TUR]":"Turkey"})

#One kmsq is 100 hectares (we also need to change object type to numeric type)
total_yearly_forest_area = total_yearly_forest_area.apply(pd.to_numeric)

In [4]:
total_yearly_forest_area.iloc[:,1:] = total_yearly_forest_area.iloc[:,1:] *100
total_yearly_forest_area.info()
total_yearly_forest_area

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      24 non-null     float64
 1   Algeria   24 non-null     float64
 2   Cyprus    24 non-null     float64
 3   France    24 non-null     int64
 4   Greece    24 non-null     float64
 5   Italy     24 non-null     float64
 6   Lebanon   24 non-null     float64
 7   Portugal  24 non-null     int64
 8   Spain     24 non-null     float64
 9   Turkey    24 non-null     float64
dtypes: float64(8), int64(2)
memory usage: 2.0 KB

,year,Algeria,Cyprus,France,Greece,Italy,Lebanon,Portugal,Spain,Turkey
0,2000.0,1579000.0,171610.0,15288000,3600229.6,8369250.0,138180.0,3281000,17093930.0,20148350.0
1,2001.0,1612900.0,171733.0,15401100,3630386.9,8435129.0,138097.0,3278100,17239071.0,20241823.0
2,2002.0,1646800.0,171856.0,15514200,3660544.3,8501008.0,138014.0,3275200,17384212.0,20335296.0
3,2003.0,1680700.0,171979.0,15627300,3690701.6,8566887.0,137931.0,3272300,17529353.0,20428769.0
4,2004.0,1714600.0,172102.0,15740400,3720859.0,8632766.0,137848.0,3269400,17674494.0,20522242.0
5,2005.0,1748500.0,172225.0,15853500,3751016.3,8698645.0,137765.0,3266500,17819635.0,20615715.0
6,2006.0,1782400.0,172348.0,15966600,3781173.6,8764524.0,137682.0,3263600,17964776.0,20709188.0
7,2007.0,1816300.0,172471.0,16079700,3811331.0,8830403.0,137599.0,3260700,18109917.0,20802661.0
8,2008.0,1850200.0,172594.0,16192800,3841488.3,8896282.0,137516.0,3257800,18255058.0,20896134.0
9,2009.0,1884100.0,172717.0,16305900,3871645.7,8962161.0,137433.0,3254900,18400199.0,20989607.0
10,2010.0,1918000.0,172840.0,16419000,3901803.0,9028040.0,137350.0,3252000,18545340.0,21083080.0
11,2011.0,1925600.0,172814.0,16502400,3901803.0,9081848.0,137946.0,3264000,18546508.0,21192524.0
12,2012.0,1933200.0,172788.0,16585800,3901803.0,9135656.0,138542.0,3276000,18547676.0,21301968.0
13,2013.0,1940800.0,172762.0,16669200,3901803.0,9189464.0,139138.0,3288000,18548844.0,21411412.0
14,2014.0,1948400.0,172736.0,16752600,3901803.0,9243272.0,139734.0,3300000,18550012.0,21520856.0
15,2015.0,1956000.0,172710.0,16836000,3901803.0,9297080.0,140330.0,3312000,18551180.0,21630300.0
16,2016.0,1956000.0,172610.0,16919400,3901800.0,9350890.0,140930.0,3312000,18555240.0,21630300.0
17,2017.0,1943000.0,172590.0,17002800,3901800.0,9404700.0,141530.0,3312000,18559300.0,21752460.0
18,2018.0,1930000.0,172570.0,17086200,3901800.0,9458510.0,142130.0,3312000,18563590.0,21908360.0
19,2019.0,1939000.0,172550.0,17169600,3901800.0,9512320.0,142730.0,3312000,18567880.0,22064360.0
20,2020.0,1949000.0,172530.0,17253000,3901800.0,9566130.0,143330.0,3312000,18572170.0,22220360.0
21,2021.0,1958000.0,172510.0,17336400,3901800.0,9619940.0,143930.0,3312000,18576460.0,22376360.0
22,2022.0,1968000.0,172490.0,17419800,3901800.0,9673750.0,144530.0,3312000,18580750.0,22532360.0
23,2023.0,1977592.6,172470.0,17503200,3901800.0,9727560.0,145130.0,3312000,18585040.0,22688360.0

In [5]:
fire_areaDF.info()
fire_countDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    24 non-null     int64
 1   DZA     12 non-null     float64
 2   CYP     24 non-null     float64
 3   FRA     24 non-null     object
 4   GRC     24 non-null     int64
 5   ITA     24 non-null     int64
 6   LBN     9 non-null      float64
 7   PRT     24 non-null     object
 8   ESP     24 non-null     object
 9   TUR     24 non-null     int64
dtypes: float64(3), int64(4), object(3)
memory usage: 2.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    24 non-null     int64
 1   DZA     12 non-null     float64
 2   CYP     24 non-null     float64
 3   FRA     24 non-null     object
 4   GRC     24 non-null     object
 5   ITA     24 non-null     object
 6   LBN     9 non-null      float64
 7   PRT     24 non-null     object
 8   ESP     24 non-null     object
 9   TUR     24 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 2.0+ KB

We need to convert the object types to numeric. After that, we are interested total burnt area / total forest area, in order to make things comparable

In [6]:
fire_areaDF = fire_areaDF.apply(pd.to_numeric, errors = "coerce") # "coerce" to ignore NaN values
fire_countDF = fire_countDF.apply(pd.to_numeric, errors = "coerce")
fire_areaDF = fire_areaDF.rename(columns={"DZA":"Algeria", "CYP":"Cyprus", "FRA":"France", "GRC":"Greece","ITA":"Italy" , "LBN":"Lebanon", "PRT":"Portugal", "ESP":"Spain", "TUR":"Turkey"})
fire_countDF = fire_countDF.rename(columns={"DZA":"Algeria", "CYP":"Cyprus", "FRA":"France", "GRC":"Greece","ITA":"Italy" , "LBN":"Lebanon", "PRT":"Portugal", "ESP":"Spain", "TUR":"Turkey"})

In [7]:
fire_areaDF.info()
fire_areaDF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      24 non-null     int64
 1   Algeria   12 non-null     float64
 2   Cyprus    24 non-null     float64
 3   France    24 non-null     int64
 4   Greece    24 non-null     int64
 5   Italy     24 non-null     int64
 6   Lebanon   9 non-null      float64
 7   Portugal  24 non-null     int64
 8   Spain     24 non-null     int64
 9   Turkey    24 non-null     int64
dtypes: float64(3), int64(7)
memory usage: 2.0 KB

,year,Algeria,Cyprus,France,Greece,Italy,Lebanon,Portugal,Spain,Turkey
0,2000,NaN,8034.0,24078,145033,114648,NaN,159605,188586,26653
1,2001,NaN,4830.0,20642,18221,76427,NaN,117420,93297,7394
2,2002,NaN,2196.0,30160,6013,40791,NaN,130849,107464,8514
3,2003,NaN,2349.0,73278,3517,91805,NaN,471750,148172,6644
4,2004,NaN,1218.0,13711,10267,60176,NaN,151370,134193,4876
5,2005,NaN,1838.0,22135,6437,47575,NaN,346718,188697,2821
6,2006,NaN,1160.0,7026,12661,39946,NaN,83706,155345,7762
7,2007,NaN,4483.0,7057,225734,227729,NaN,36413,86122,11664
8,2008,NaN,2392.0,4710,29152,66329,NaN,19897,50322,29749
9,2009,NaN,885.0,14612,35342,73355,NaN,92126,120094,4679
10,2010,NaN,2000.0,8524,8967,46537,NaN,140953,54770,3517
11,2011,13593.0,1599.0,6800,29144,72004,NaN,77104,102161,3612
12,2012,99061.0,2531.0,7584,59924,130814,NaN,117985,226125,10455
13,2013,13396.0,2835.0,2735,46676,29076,NaN,160388,58985,11456
14,2014,43125.0,669.0,4735,25846,36125,NaN,22820,46721,3117
15,2015,13010.0,652.0,8169,7096,41511,753.0,67200,103200,3219
16,2016,18370.0,3205.0,14101,26540,65503,1871.0,167808,65817,9156
17,2017,53975.0,428.0,23093,13393,161987,264.0,539921,178234,11992
18,2018,2312.0,1136.0,3940,15464,19481,643.0,44578,25162,5644
19,2019,21048.0,733.0,13394,9153,36034,3155.0,42085,83963,11332
20,2020,43918.0,1305.0,10722,9300,55656,1851.0,67170,65923,20971
21,2021,100101.0,6612.0,12779,108418,151964,1508.0,28360,87880,139503
22,2022,27685.0,685.0,58123,18807,71694,79.0,110097,267947,12799
23,2023,NaN,2216.0,5361,136499,88806,132.0,34510,89068,15520

In [8]:
fire_countDF.info()
fire_countDF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      24 non-null     int64
 1   Algeria   12 non-null     float64
 2   Cyprus    24 non-null     float64
 3   France    24 non-null     int64
 4   Greece    24 non-null     int64
 5   Italy     24 non-null     int64
 6   Lebanon   9 non-null      float64
 7   Portugal  24 non-null     int64
 8   Spain     24 non-null     int64
 9   Turkey    24 non-null     int64
dtypes: float64(3), int64(7)
memory usage: 2.0 KB

,year,Algeria,Cyprus,France,Greece,Italy,Lebanon,Portugal,Spain,Turkey
0,2000,NaN,285.0,4603,2581,8595,NaN,34109,24118,2555
1,2001,NaN,299.0,4309,2535,7134,NaN,28915,19547,2631
2,2002,NaN,243.0,4097,1141,4601,NaN,28993,19929,1471
3,2003,NaN,427.0,7023,1452,9697,NaN,28087,18616,2177
4,2004,NaN,221.0,3775,1748,6428,NaN,27829,21396,1762
5,2005,NaN,185.0,4698,1544,7951,NaN,41689,25492,1530
6,2006,NaN,172.0,3231,1417,5634,NaN,24243,16354,2227
7,2007,NaN,111.0,2690,1983,10639,NaN,25133,10936,2829
8,2008,NaN,114.0,1801,1481,6486,NaN,18958,11655,2135
9,2009,NaN,91.0,3013,1063,5422,NaN,29783,15643,1793
10,2010,NaN,133.0,2443,1052,4884,NaN,26113,11721,1861
11,2011,2487.0,85.0,2774,1613,8181,NaN,29782,16414,1954
12,2012,5110.0,78.0,2763,1559,8252,NaN,25352,17503,2450
13,2013,2443.0,135.0,1510,862,2936,NaN,23129,10626,3755
14,2014,4629.0,68.0,1730,552,3257,NaN,9388,9771,2149
15,2015,2383.0,87.0,2898,510,5442,107.0,19643,11928,2150
16,2016,3150.0,119.0,2775,777,5818,260.0,16104,8817,3188
17,2017,2992.0,92.0,3220,1083,7855,92.0,21006,13793,2411
18,2018,797.0,131.0,1634,793,3220,41.0,12274,7143,2167
19,2019,2278.0,99.0,2949,657,4351,194.0,10832,10883,2688
20,2020,3493.0,108.0,2760,1060,4865,251.0,9619,7745,3399
21,2021,1631.0,111.0,2332,1250,5989,131.0,8186,8780,2793
22,2022,1607.0,89.0,4215,962,6529,22.0,10390,10507,2160
23,2023,NaN,131.0,2666,941,4265,23.0,7523,7748,2579

In [9]:
fire_area_ratioDF = fire_areaDF.copy()
fire_area_ratioDF.iloc[:,1:] = fire_areaDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))

fire_count_ratioDF = fire_countDF.copy()
fire_count_ratioDF.iloc[:,1:] = fire_countDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))

C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.001575
1     0.001340
2     0.001944
3     0.004689
4     0.000871
5     0.001396
6     0.000440
7     0.000439
8     0.000291
9     0.000896
10    0.000519
11    0.000412
12    0.000457
13    0.000164
14    0.000283
15    0.000485
16    0.000833
17    0.001358
18    0.000231
19    0.000780
20    0.000621
21    0.000737
22    0.003337
23    0.000306
Name: France, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_area_ratioDF.iloc[:,1:] = fire_areaDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.040284
1     0.005019
2     0.001643
3     0.000953
4     0.002759
5     0.001716
6     0.003348
7     0.059227
8     0.007589
9     0.009128
10    0.002298
11    0.007469
12    0.015358
13    0.011963
14    0.006624
15    0.001819
16    0.006802
17    0.003433
18    0.003963
19    0.002346
20    0.002384
21    0.027787
22    0.004820
23    0.034984
Name: Greece, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_area_ratioDF.iloc[:,1:] = fire_areaDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.013699
1     0.009061
2     0.004798
3     0.010716
4     0.006971
5     0.005469
6     0.004558
7     0.025789
8     0.007456
9     0.008185
10    0.005155
11    0.007928
12    0.014319
13    0.003164
14    0.003908
15    0.004465
16    0.007005
17    0.017224
18    0.002060
19    0.003788
20    0.005818
21    0.015797
22    0.007411
23    0.009129
Name: Italy, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_area_ratioDF.iloc[:,1:] = fire_areaDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.048645
1     0.035820
2     0.039951
3     0.144165
4     0.046299
5     0.106144
6     0.025648
7     0.011167
8     0.006107
9     0.028304
10    0.043343
11    0.023623
12    0.036015
13    0.048780
14    0.006915
15    0.020290
16    0.050667
17    0.163020
18    0.013460
19    0.012707
20    0.020281
21    0.008563
22    0.033242
23    0.010420
Name: Portugal, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_area_ratioDF.iloc[:,1:] = fire_areaDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.011032
1     0.005412
2     0.006182
3     0.008453
4     0.007592
5     0.010589
6     0.008647
7     0.004756
8     0.002757
9     0.006527
10    0.002953
11    0.005508
12    0.012192
13    0.003180
14    0.002519
15    0.005563
16    0.003547
17    0.009603
18    0.001355
19    0.004522
20    0.003550
21    0.004731
22    0.014421
23    0.004792
Name: Spain, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_area_ratioDF.iloc[:,1:] = fire_areaDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.001323
1     0.000365
2     0.000419
3     0.000325
4     0.000238
5     0.000137
6     0.000375
7     0.000561
8     0.001424
9     0.000223
10    0.000167
11    0.000170
12    0.000491
13    0.000535
14    0.000145
15    0.000149
16    0.000423
17    0.000551
18    0.000258
19    0.000514
20    0.000944
21    0.006234
22    0.000568
23    0.000684
Name: Turkey, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_area_ratioDF.iloc[:,1:] = fire_areaDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.000301
1     0.000280
2     0.000264
3     0.000449
4     0.000240
5     0.000296
6     0.000202
7     0.000167
8     0.000111
9     0.000185
10    0.000149
11    0.000168
12    0.000167
13    0.000091
14    0.000103
15    0.000172
16    0.000164
17    0.000189
18    0.000096
19    0.000172
20    0.000160
21    0.000135
22    0.000242
23    0.000152
Name: France, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_count_ratioDF.iloc[:,1:] = fire_countDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.000717
1     0.000698
2     0.000312
3     0.000393
4     0.000470
5     0.000412
6     0.000375
7     0.000520
8     0.000386
9     0.000275
10    0.000270
11    0.000413
12    0.000400
13    0.000221
14    0.000141
15    0.000131
16    0.000199
17    0.000278
18    0.000203
19    0.000168
20    0.000272
21    0.000320
22    0.000247
23    0.000241
Name: Greece, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_count_ratioDF.iloc[:,1:] = fire_countDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.001027
1     0.000846
2     0.000541
3     0.001132
4     0.000745
5     0.000914
6     0.000643
7     0.001205
8     0.000729
9     0.000605
10    0.000541
11    0.000901
12    0.000903
13    0.000319
14    0.000352
15    0.000585
16    0.000622
17    0.000835
18    0.000340
19    0.000457
20    0.000509
21    0.000623
22    0.000675
23    0.000438
Name: Italy, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_count_ratioDF.iloc[:,1:] = fire_countDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.010396
1     0.008821
2     0.008852
3     0.008583
4     0.008512
5     0.012763
6     0.007428
7     0.007708
8     0.005819
9     0.009150
10    0.008030
11    0.009124
12    0.007739
13    0.007034
14    0.002845
15    0.005931
16    0.004862
17    0.006342
18    0.003706
19    0.003271
20    0.002904
21    0.002472
22    0.003137
23    0.002271
Name: Portugal, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_count_ratioDF.iloc[:,1:] = fire_countDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.001411
1     0.001134
2     0.001146
3     0.001062
4     0.001211
5     0.001431
6     0.000910
7     0.000604
8     0.000638
9     0.000850
10    0.000632
11    0.000885
12    0.000944
13    0.000573
14    0.000527
15    0.000643
16    0.000475
17    0.000743
18    0.000385
19    0.000586
20    0.000417
21    0.000473
22    0.000565
23    0.000417
Name: Spain, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_count_ratioDF.iloc[:,1:] = fire_countDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))
C:\Users\Hegemon\AppData\Local\Temp\ipykernel_26172\1080540065.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     0.000127
1     0.000130
2     0.000072
3     0.000107
4     0.000086
5     0.000074
6     0.000108
7     0.000136
8     0.000102
9     0.000085
10    0.000088
11    0.000092
12    0.000115
13    0.000175
14    0.000100
15    0.000099
16    0.000147
17    0.000111
18    0.000099
19    0.000122
20    0.000153
21    0.000125
22    0.000096
23    0.000114
Name: Turkey, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fire_count_ratioDF.iloc[:,1:] = fire_countDF.iloc[:,1:].div(total_yearly_forest_area.iloc[:,1:].replace(0,pd.NA))

In [10]:
fire_area_ratioDF.iloc[:,1:] = fire_area_ratioDF.iloc[:,1:] * 100 # Converting to percentage for readibility
fire_count_ratioDF.iloc[:,1:] = fire_count_ratioDF.iloc[:,1:] * 100
fire_area_ratioDF

,year,Algeria,Cyprus,France,Greece,Italy,Lebanon,Portugal,Spain,Turkey
0,2000,NaN,4.681545,0.157496,4.028438,1.369872,NaN,4.864523,1.103234,0.132284
1,2001,NaN,2.812505,0.134029,0.501902,0.906056,NaN,3.581953,0.541195,0.036528
2,2002,NaN,1.277814,0.194403,0.164265,0.479837,NaN,3.995145,0.618170,0.041868
3,2003,NaN,1.365864,0.468910,0.095294,1.071626,NaN,14.416465,0.845279,0.032523
4,2004,NaN,0.707720,0.087107,0.275931,0.697065,NaN,4.629902,0.759247,0.023760
5,2005,NaN,1.067209,0.139622,0.171607,0.546924,NaN,10.614358,1.058927,0.013684
6,2006,NaN,0.673057,0.044004,0.334843,0.455769,NaN,2.564836,0.864720,0.037481
7,2007,NaN,2.599278,0.043888,5.922708,2.578920,NaN,1.116723,0.475552,0.056070
8,2008,NaN,1.385911,0.029087,0.758873,0.745581,NaN,0.610750,0.275661,0.142366
9,2009,NaN,0.512399,0.089612,0.912842,0.818497,NaN,2.830379,0.652678,0.022292
10,2010,NaN,1.157140,0.051915,0.229817,0.515472,NaN,4.334348,0.295330,0.016682
11,2011,0.705910,0.925272,0.041206,0.746937,0.792834,NaN,2.362255,0.550837,0.017044
12,2012,5.124198,1.464801,0.045726,1.535803,1.431906,NaN,3.601496,1.219155,0.049080
13,2013,0.690231,1.640986,0.016408,1.196267,0.316406,NaN,4.877981,0.317998,0.053504
14,2014,2.213355,0.387296,0.028264,0.662412,0.390825,NaN,0.691515,0.251865,0.014484
15,2015,0.665133,0.377511,0.048521,0.181865,0.446495,0.536592,2.028986,0.556299,0.014882
16,2016,0.939162,1.856787,0.083342,0.680199,0.700500,1.327609,5.066667,0.354708,0.042330
17,2017,2.777921,0.247987,0.135819,0.343252,1.722405,0.186533,16.301963,0.960349,0.055129
18,2018,0.119793,0.658284,0.023060,0.396330,0.205963,0.452403,1.345954,0.135545,0.025762
19,2019,1.085508,0.424804,0.078010,0.234584,0.378814,2.210467,1.270682,0.452195,0.051359
20,2020,2.253361,0.756390,0.062146,0.238352,0.581803,1.291425,2.028080,0.354956,0.094377
21,2021,5.112411,3.832821,0.073712,2.778666,1.579677,1.047732,0.856280,0.473072,0.623439
22,2022,1.406758,0.397124,0.333661,0.482008,0.741119,0.054660,3.324185,1.442068,0.056803
23,2023,NaN,1.284861,0.030629,3.498360,0.912932,0.090953,1.041969,0.479246,0.068405

In [11]:
fire_count_ratioDF

,year,Algeria,Cyprus,France,Greece,Italy,Lebanon,Portugal,Spain,Turkey
0,2000,NaN,0.166074,0.030109,0.071690,0.102697,NaN,1.039592,0.141091,0.012681
1,2001,NaN,0.174107,0.027979,0.069827,0.084575,NaN,0.882066,0.113388,0.012998
2,2002,NaN,0.141397,0.026408,0.031170,0.054123,NaN,0.885228,0.114639,0.007234
3,2003,NaN,0.248286,0.044941,0.039342,0.113192,NaN,0.858326,0.106199,0.010657
4,2004,NaN,0.128412,0.023983,0.046978,0.074460,NaN,0.851196,0.121056,0.008586
5,2005,NaN,0.107418,0.029634,0.041162,0.091405,NaN,1.276259,0.143056,0.007422
6,2006,NaN,0.099798,0.020236,0.037475,0.064282,NaN,0.742830,0.091034,0.010754
7,2007,NaN,0.064359,0.016729,0.052029,0.120481,NaN,0.770785,0.060387,0.013599
8,2008,NaN,0.066051,0.011122,0.038553,0.072907,NaN,0.581926,0.063845,0.010217
9,2009,NaN,0.052687,0.018478,0.027456,0.060499,NaN,0.915020,0.085015,0.008542
10,2010,NaN,0.076950,0.014879,0.026962,0.054098,NaN,0.802983,0.063202,0.008827
11,2011,0.129155,0.049186,0.016810,0.041340,0.090081,NaN,0.912439,0.088502,0.009220
12,2012,0.264329,0.045142,0.016659,0.039956,0.090327,NaN,0.773871,0.094368,0.011501
13,2013,0.125876,0.078142,0.009059,0.022092,0.031950,NaN,0.703437,0.057287,0.017537
14,2014,0.237580,0.039366,0.010327,0.014147,0.035236,NaN,0.284485,0.052674,0.009986
15,2015,0.121830,0.050373,0.017213,0.013071,0.058535,0.076249,0.593086,0.064298,0.009940
16,2016,0.161043,0.068942,0.016401,0.019914,0.062219,0.184489,0.486232,0.047518,0.014739
17,2017,0.153989,0.053306,0.018938,0.027756,0.083522,0.065004,0.634239,0.074319,0.011084
18,2018,0.041295,0.075911,0.009563,0.020324,0.034043,0.028847,0.370592,0.038479,0.009891
19,2019,0.117483,0.057375,0.017176,0.016838,0.045741,0.135921,0.327053,0.058612,0.012183
20,2020,0.179220,0.062598,0.015997,0.027167,0.050857,0.175120,0.290429,0.041702,0.015297
21,2021,0.083299,0.064344,0.013451,0.032036,0.062256,0.091016,0.247162,0.047264,0.012482
22,2022,0.081657,0.051597,0.024197,0.024655,0.067492,0.015222,0.313708,0.056548,0.009586
23,2023,NaN,0.075955,0.015232,0.024117,0.043844,0.015848,0.227144,0.041689,0.011367

In [ ]:
fire_ratio_elaborateDF = fire_area_ratioDF.melt(id_vars="year", var_name="country", value_name="burned_ratio")
fire_count_elaborateDF = fire_countDF.melt(id_vars="year", var_name="country", value_name="fire_count")
fire_count_ratio_elaborateDF = fire_count_ratioDF.melt(id_vars="year", var_name="country", value_name="fire_incidence")


fire_ratio_elaborateDF

     year  country  burned_ratio
0    2000  Algeria           NaN
1    2001  Algeria           NaN
2    2002  Algeria           NaN
3    2003  Algeria           NaN
4    2004  Algeria           NaN
..    ...      ...           ...
211  2019   Turkey      0.051359
212  2020   Turkey      0.094377
213  2021   Turkey      0.623439
214  2022   Turkey      0.056803
215  2023   Turkey      0.068405

[216 rows x 3 columns]

In [19]:
fire_count_ratio_elaborateDF

     year  country  fire_incidence
0    2000  Algeria             NaN
1    2001  Algeria             NaN
2    2002  Algeria             NaN
3    2003  Algeria             NaN
4    2004  Algeria             NaN
..    ...      ...             ...
211  2019   Turkey        0.012183
212  2020   Turkey        0.015297
213  2021   Turkey        0.012482
214  2022   Turkey        0.009586
215  2023   Turkey        0.011367

[216 rows x 3 columns]

In [20]:
fire_ratio_elaborateDF.to_csv("Final Form Elaborate Fire Ratio.csv", index=False)
fire_count_elaborateDF.to_csv("Final Form Elaborate Fire Count.csv", index=False)
fire_count_ratio_elaborateDF.to_csv("Final Form Elaborate Fire Count Ratio.csv", index=False)